.main-div{
    padding: 1%;
    display: flex;
    justify-content: center;
}
.child-div{
    padding: 3%;
    width: 60%;
    background-color: #ddd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    border-radius: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.child-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  }
  label{
    font-weight: 500;
  }